.App {
  min-height: 100vh;
  background-color: #fdb666;
  font-family: Rubik;
}

.App-header {
  background-color: #fafafa;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding-left: 4rem;
}

.App-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vh;
}

.home-link {
  text-decoration: none;
  display: inline-flex;
  gap: 0.4rem;
}